/*
    发布问题
 */
body {
    font-size: 黑体;
}
#title{
    position:absolute;
    width: 100%;
    height: 80px;
}

.login{
    position:absolute;
    margin-left:87%;
    margin-top:30px;
}
#style1{
    float:left;
    color:white;
    font-size:20px;
}
#style2{
    float:right;
    color:white;
    font-size:20px;
}


form{
    position: absolute;
    margin-top: 30px;
    margin-left: 380px;
}

#question{
    width:600px;
    height: 40px;
    margin-bottom: 14px;
}

#descriptionImg,#wantedImg,#questionImg{
    width: 90px;
    height: 25px;
    margin-bottom: 14px;
}

#description{
    width: 600px;
    height: 300px;
    margin-bottom: 14px;
}

#wanted{
    width: 130px;
    height: 40px;
    margin-bottom: 35px;
}

#publish{
    width:100px;
    height: 35px;
    margin-bottom: 50px;
    cursor:pointer;
}

#uploaddiv{
    display: none;
}

#upload{
    width: 90px;
    height: 25px;
    margin-bottom: 14px;
}

#resourse_isclick{
    display: inline-block;
    width: 25px;
    height: 25px;
}

#inputfile{
    display: inline-block;
}

#user{
    display: none;
    position: absolute;
    left: 1250px;
    top:30px;
    font-size: large;
    width: 85px;
    cursor:pointer;
}